@model FeedbackMvc4.Models.Feedback

@{
    ViewBag.Title = "Thanks";
}

<em class="expire"><span></span>This page will expire in one minute.</em>

<h2>@Model.Presentation.Presentor thanks you <small>for feedback on his talk: @Model.Presentation.Title</small></h2>

on <strong>@Model.CreatedDate.ToString("yyyy-MM-dd hh:mmtt")</strong> by <strong>@Model.Name</strong> (@Model.Email)

<ol id="thanks">
@for (int i = 0; i < Model.Ratings.Count; i++)
{
  <li>
    <div>
    @{ var notset = Model.Ratings[i].Value == 0; }
    @* add not set class when not set *@
    <strong class="@(notset?"notset":null)">@(notset?"(not set)":Model.Ratings[i].Value.ToString())</strong>
      <h3>@Model.Ratings[i].Definition.Name</h3>
      <p>Comments: @(Model.Ratings[i].Comment ?? "(none)")</p>
    </div>
  </li>
}
</ol>


<div>
  Message: <strong>@(Model.Message ?? "(none)")</strong>
</div>