<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>@ViewBag.Title - My ASP.NET Application</title>
  @Styles.Render("~/css")
</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        @Html.ActionLink("Feedback", "Index", "Home", null, new { @class = "brand" })
        <div class="nav-collapse collapse">
          @Html.Partial("~/Views/Shared/Menu.cshtml", Aaa.Common.MenuTable.Menus["main"])
          @*<ul class="nav">
            <li>@Html.ActionLink("CodeStock", "CodeStock", "Presentation")</li>
            <li>@Html.ActionLink("Presentations", "Index", "Home")</li>
            <li>@Html.ActionLink("Templates", "Index", "Template")</li>
          </ul>*@
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    @RenderBody()
    <hr />
    <footer>
      <p>&copy; @DateTime.Today.Year - Jarrett Vance</p>
    </footer>
  </div>

  @Scripts.Render("~/js")
  @RenderSection("scripts", required: false)
</body>
</html>